
  <h1 nz-title class="title" [nzContent]="title"></h1>
  <div class="form-container">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event)" nzLayout="horizontal">
      <nz-form-item >
        <nz-form-control [nzErrorTip]="validateForm.controls.userName.errors &&(validateForm.controls.userName.errors.required ? '请填写用户名!' : '用户名格式错误' )">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username" autofocus="autofocus" />
            </nz-input-group>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="validateForm.controls.password.errors &&(validateForm.controls.password.errors.required ? '请填写密码!': '密码格式错误' )">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button 
          nz-button
          class="login-form-button" 
          type="submit"
          [nzType]="'primary'" 
          [nzLoading]="isLoading"
          [disabled]="!validateForm.valid"
        >登录</button>
      </nz-form-item>
    </form>
  </div>

